*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  background:url("bg.jpg") center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* ORTADAKİ PANEL */
.panel{
  width:80%;
  height:70%;
  background:rgba(0,0,0,0.65);
  backdrop-filter:blur(10px);
  border-radius:20px;
  display:flex;
  color:white;
  box-shadow:0 0 40px rgba(255,0,0,0.4);
}

/* SOL */
.left{
  width:40%;
  padding:50px;
  border-right:2px solid rgba(255,0,0,0.3);
}

.left h1{
  font-size:80px;
  line-height:70px;
}

.discord-btn{
  display:inline-block;
  margin-top:40px;
  padding:12px 20px;
  background:red;
  color:white;
  text-decoration:none;
  border-radius:10px;
  transition:0.3s;
}

.discord-btn:hover{
  background:#ff4d4d;
}

/* SAĞ */
.right{
  width:60%;
  padding:50px;
  position:relative;
}

.profile{
  display:flex;
  align-items:center;
  gap:20px;
}

.profile img{
  width:90px;
  height:90px;
  border-radius:50%;
  border:3px solid red;
}

.music-box{
  position:absolute;
  bottom:50px;
  right:50px;
  width:300px;
}

.progress-container{
  width:100%;
  height:6px;
  background:rgba(255,255,255,0.2);
  margin:10px 0;
}

#progress{
  height:100%;
  width:0%;
  background:red;
}

.controls button{
  background:red;
  border:none;
  color:white;
  padding:8px 12px;
  margin-right:5px;
  border-radius:8px;
  cursor:pointer;
}

.controls button:hover{
  background:#ff4d4d;
}
