body{
margin:0;
background:black;
font-family:Orbitron;
color:white;
overflow:hidden;
}

/* STAR BACKGROUND */

.stars{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(white 1px, transparent 1px);
background-size:40px 40px;
opacity:.15;
animation:move 80s linear infinite;
}

@keyframes move{
from{transform:translateY(0);}
to{transform:translateY(-1000px);}
}

.container{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:600px;
}

/* MAIN CARD */

.profile{
background:rgba(15,15,15,.8);
padding:40px;
border-radius:20px;
text-align:center;
backdrop-filter:blur(20px);

box-shadow:
0 0 40px rgba(255,255,255,.05);
}

.avatar{
width:90px;
height:90px;
border-radius:50%;
margin-bottom:10px;
}

h1{
font-size:42px;
text-shadow:0 0 15px white;
}

.socials span{
margin:10px;
padding:8px 14px;
border:1px solid rgba(255,255,255,.3);
border-radius:8px;
cursor:pointer;
transition:.3s;
}

.socials span:hover{
background:white;
color:black;
}

/* ACTIVITY */

.activity{
margin-top:20px;
background:rgba(15,15,15,.8);
padding:20px;
border-radius:15px;
display:flex;
justify-content:space-between;
}

/* MUSIC */

.music{
margin-top:20px;
background:rgba(15,15,15,.8);
padding:20px;
border-radius:15px;
display:flex;
justify-content:space-between;
}
