*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  background:url("bg.jpg") center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

/* DIŞ PANEL */
.card{
  width:80%;
  height:75%;
  background:rgba(0,0,0,0.65);
  backdrop-filter:blur(10px);
  border-radius:20px;
  display:flex;
  overflow:hidden;
  border:2px solid white;
}

/* SOL BLOK */
.left{
  width:40%;
  padding:50px;
  border-right:2px solid white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:20px;
  border:3px solid white;
}

.bio{
  opacity:0.7;
  margin-bottom:20px;
}

.social{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.social a{
  color:white;
  text-decoration:none;
  padding:8px 15px;
  border:1px solid white;
  border-radius:8px;
  transition:0.3s;
}

.social a:hover{
  background:white;
  color:black;
}

/* SAĞ BLOK */
.right{
  width:60%;
  padding:60px;
  position:relative;
}

.series-title{
  font-size:48px;
  font-weight:bold;
}

.series-sub{
  opacity:0.7;
  margin-bottom:50px;
}

/* MUSIC */
.music-box{
  position:absolute;
  bottom:60px;
  right:60px;
  width:300px;
  border:1px solid white;
  padding:20px;
  border-radius:12px;
}

.progress-container{
  width:100%;
  height:6px;
  background:rgba(255,255,255,0.2);
  margin:10px 0;
}

#progress{
  height:100%;
  width:0%;
  background:white;
  transition:0.1s;
}

.controls button{
  background:transparent;
  border:1px solid white;
  color:white;
  padding:6px 12px;
  margin-right:5px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.controls button:hover{
  background:white;
  color:black;
}
